@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scollbar::-webkit-scrollbar{
    height: 8px !important;
    width: 8px !important;
}

.custom-scollbar::-webkit-scrollbar-thumb{
    background-color: #ffffff3b;
}